<card>
  <form [formGroup]="form" (submit)="onAddDestinationSubmit()">
    <div class="row">
        <div class="col-md-4">
            <md-input-container>
              <input mdInput placeholder="Destination Code" name="dest_id" [(ngModel)]="dest_id" [formControl]="form.controls['dest_id']">
              <small *ngIf="form.controls['dest_id'].hasError('required') && form.controls['dest_id'].touched" class="form-message text-danger">You must enter a number.</small>
              <small *ngIf="form.controls['dest_id'].errors?.range && form.controls['dest_id'].touched" class="form-message text-danger">Number should be between 4 and 5.</small>
            </md-input-container>
          </div>
      <div class="col-md-4">
        <md-input-container>
          <input mdInput placeholder="Destination Name" name="dest_name" [(ngModel)]="dest_name" [formControl]="form.controls['dest_name']">
          <small *ngIf="form.controls['dest_name'].hasError('required') && form.controls['dest_name'].touched" class="form-message text-danger">You must include a first name.</small>
        </md-input-container>
      </div>
          
            <div class="col-md-4">
              <md-input-container class="mb-0">
                <input mdInput placeholder="State" [(ngModel)]="state" [mdAutocomplete]="auto" [formControl]="stateCtrl">
              </md-input-container>
              <md-autocomplete #auto="mdAutocomplete">
                <md-option *ngFor="let state of filteredStates | async" [value]="state">
                  {{ state }}
                </md-option>
              </md-autocomplete>
      
              </div>
      
            </div>
      
    <button md-raised-button color="accent" type="submit" [disabled]="!form.valid">Submit</button>
  </form>
</card>

<card>
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-default">
        <tr>
          <th>#</th>
          <th>Code</th>
          <th>Destination</th>
          <th>State</th>
          
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let destination of destinations; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{destination.dest_id}}</td>
          <td>{{destination.dest_name}}</td>
          <td>{{destination.state}}</td>
          
          <td class="deletetd" (click)="deleteDestination(destination._id)">Delete</td>
        </tr>
        </tbody>
        </table>
        </div>
  </div>
</card>