<card>
  <form [formGroup]="form" (submit)="onBookingSubmit()">
    <div class="row">
        <div class="col-md-4">
            <md-input-container>
              <input mdInput placeholder="AWB Number" name="awb" [(ngModel)]="awb" [formControl]="form.controls['awb']" >
              
            </md-input-container>
          </div>
          <div class="col-md-4">
            <md-input-container>
              <input mdInput [mdDatepicker]="picker" placeholder="Choose a date" name="booking_date" [formControl]="form.controls['booking_date']" >
              <button mdSuffix [mdDatepickerToggle]="picker"></button>
              </md-input-container>
            <md-datepicker #picker></md-datepicker>
          </div>
          <div class="col-md-4">
              <md-select [(ngModel)]="company" [formControl]="form.controls['company']" placeholder="company">
                  <md-option *ngFor="let company of filteredCompanies | async" [value]="company._id">
                    {{ company.company_name }}
                  </md-option>
                </md-select>
            
          </div>
      <div class="col-md-4">
        <md-input-container>
          <input mdInput placeholder="Consignor" [(ngModel)]="consignor"  name="consignor" [formControl]="form.controls['consignor']">
          <small *ngIf="form.controls['consignor'].hasError('required') && form.controls['consignor'].touched" class="form-message text-danger">You must input a Consignor.</small>
        </md-input-container>
      </div>
      <div class="col-md-4">
          <md-input-container>
            <input mdInput placeholder="Consignee" [(ngModel)]="consignee" name="consignee" [formControl]="form.controls['consignee']">
            <small *ngIf="form.controls['consignee'].hasError('required') && form.controls['consignee'].touched" class="form-message text-danger">You must include a Consignee.</small>
            </md-input-container>
        </div>
        <div class="mb-4">
            <label>Mode</label>
            <md-radio-group [formControl]="form.controls['mode']">
              <md-radio-button value="Train">Train</md-radio-button>
              <md-radio-button value="Air">Air</md-radio-button>
              <md-radio-button value="Road">Road</md-radio-button>
              <small *ngIf="!form.controls['mode'].valid && form.controls['mode'].touched" class="form-message text-danger">You must select a Mode.</small>
            </md-radio-group>
          </div>
          <div class="col-md-4">
        <md-input-container>
          <textarea mdInput placeholder="Address" [(ngModel)]="address" [formControl]="form.controls['address']" name="address"></textarea>
        </md-input-container>
      </div>
        <div class="col-md-4">
            <md-input-container>
              <input mdInput placeholder="Origin" [(ngModel)]="origin" name="origin" [formControl]="form.controls['origin']">
              <small *ngIf="form.controls['origin'].hasError('required') && form.controls['origin'].touched" class="form-message text-danger">You must include a Origin.</small>
              </md-input-container>
          </div>
          <div class="col-md-4">
              <md-input-container>
                <input mdInput placeholder="Destination" name="destination" [(ngModel)]="destination" [formControl]="form.controls['destination']">
                <small *ngIf="form.controls['destination'].hasError('required') && form.controls['destination'].touched" class="form-message text-danger">You must include a Destination.</small>
                </md-input-container>
            </div>
            
            <div class="col-md-4">
              <md-input-container>
                <input mdInput placeholder="Number of Packets" name="normal_pcs" [(ngModel)]="normal_pcs" [formControl]="form.controls['normal_pcs']">
                <small *ngIf="form.controls['normal_pcs'].hasError('required') && form.controls['normal_pcs'].touched" class="form-message text-danger">You must enter a number.</small>
             </md-input-container>
            </div>
            <div class="col-md-4">
              <md-input-container>
                <input mdInput name="length" [(ngModel)]="length" [formControl]="form.controls['length']" placeholder="Single Packet Length (Inch)" >
              </md-input-container>
            </div>
            <div class="col-md-4">
              <md-input-container>
                <input mdInput name="width" [(ngModel)]="width" [formControl]="form.controls['width']" placeholder="Single Packet Width (Inch)">
              </md-input-container>
            </div>
            <div class="col-md-4">
              <md-input-container>
                <input mdInput name="height" [(ngModel)]="height" [formControl]="form.controls['height']" placeholder="Single Packet Height (Inch)" >
              </md-input-container>
            </div>
            <div class="col-md-4">
              <md-input-container>
                <input mdInput name="actual_wt" [(ngModel)]="actual_wt" [formControl]="form.controls['actual_wt']" placeholder="Total Actual Weight" >
              </md-input-container>
            </div>
            <div class="col-md-4">
              <md-input-container>
                <input mdInput name="volumetric_wt" [(ngModel)]="volumetric_wt" [formControl]="form.controls['volumetric_wt']" placeholder="Volumetric Weight" >
              </md-input-container>
            </div>

            <div class="col-md-4">
              <md-select [(ngModel)]="paymode" [formControl]="form.controls['paymode']" placeholder="Mode">
                <md-option *ngFor="let mode of modes" [value]="mode.value">
                  {{ mode.viewValue }}
                </md-option>
              </md-select>
                              
              </div>
    

            <div class="col-md-4">
              <md-input-container>
                <input mdInput name="inv_no"   [(ngModel)]="inv_no" [formControl]="form.controls['inv_no']" placeholder="Invoice Number" >
              </md-input-container>
            </div>
            <div class="col-md-4">
              <md-input-container>
                <input name="inv_no" [(ngModel)]="inv_val" [formControl]="form.controls['inv_val']" mdInput placeholder="Invoice Amount">
              </md-input-container>
            </div>
            <div class="col-md-4">
              <md-input-container>
                <input name="gst" [(ngModel)]="gst" [formControl]="form.controls['gst']" mdInput placeholder="GST">
              </md-input-container>
            </div>
            <div class="col-md-4">
              <md-input-container>
                <input name="inv_val" [(ngModel)]="inv_val" [formControl]="form.controls['inv_val']" mdInput placeholder="Expected Amount">
              </md-input-container>
            </div>
            </div>
    <button md-raised-button color="accent" type="submit" [disabled]="!form.valid">Submit</button>
  </form>
</card>
