<card>
  <form [formGroup]="form" (submit)="onAddHubSubmit()">
    <div class="row">
        <div class="col-md-4">
            <md-input-container>
              <input mdInput placeholder="Hub Code" name="hubcode" [(ngModel)]="hubcode" [formControl]="form.controls['hubcode']">
              <small *ngIf="form.controls['hubcode'].hasError('required') && form.controls['hubcode'].touched" class="form-message text-danger">No space.</small>
              
            </md-input-container>
          </div>
      <div class="col-md-4">
        <md-input-container>
          <input mdInput placeholder="Hub Name" name="hname" [(ngModel)]="hname" [formControl]="form.controls['hname']">
          <small *ngIf="form.controls['hname'].hasError('required') && form.controls['hname'].touched" class="form-message text-danger">You must include a Hub name.</small>
         
        </md-input-container>
      </div>
      <div class="col-md-4">
          <md-input-container>
            <input mdInput placeholder="Hub Address" name="haddress" [(ngModel)]="haddress" [formControl]="form.controls['haddress']">
          </md-input-container>
        </div>
        <div class="col-md-4">
            <md-input-container>
              <input mdInput placeholder="Hub City" name="hcity" [(ngModel)]="hcity" [formControl]="form.controls['hcity']">
              <small *ngIf="form.controls['hcity'].hasError('required') && form.controls['hcity'].touched" class="form-message text-danger">You must include a City name.</small>
              
            </md-input-container>
          </div>
          <div class="col-md-4">
              <md-input-container>
                <input mdInput placeholder="Contact No." name="contact" [(ngModel)]="contact" [formControl]="form.controls['contact']">
                
              </md-input-container>
            </div>
            
            </div>
      
    <button md-raised-button color="accent" type="submit" [disabled]="!form.valid">Submit</button>
  </form>
</card>
