<card>
  <form [formGroup]="form" (submit)="onAddtrainSubmit()">
    <div class="row">
        <div class="col-md-4">
            <md-input-container>
              <input mdInput placeholder="Train Number" name="train_number" [(ngModel)]="train_number" [formControl]="form.controls['train_number']">
              <small *ngIf="form.controls['train_number'].hasError('required') && form.controls['train_number'].touched" class="form-message text-danger">You must enter a number.</small>
              <small *ngIf="form.controls['train_number'].errors?.range && form.controls['train_number'].touched" class="form-message text-danger">Number should be between 4 and 5.</small>
            </md-input-container>
          </div>
      <div class="col-md-4">
        <md-input-container>
          <input mdInput placeholder="Source Name" name="train_source" [(ngModel)]="train_source" [formControl]="form.controls['train_source']">
          <small *ngIf="form.controls['train_source'].hasError('required') && form.controls['train_source'].touched" class="form-message text-danger">You must include a first name.</small>
          <small *ngIf="form.controls['train_source'].hasError('minlength') && form.controls['train_source'].touched" class="form-message text-danger">Your first name must be at least 5 characters long.</small>
          <small *ngIf="form.controls['train_source'].hasError('maxlength') && form.controls['train_source'].touched" class="form-message text-danger">Your first name cannot exceed 10 characters.</small>
        </md-input-container>
      </div>
      <div class="col-md-4">
          <md-input-container>
            <input mdInput placeholder="Destination Name" name="train_destination" [(ngModel)]="train_destination" [formControl]="form.controls['train_destination']">
            <small *ngIf="form.controls['train_destination'].hasError('required') && form.controls['train_destination'].touched" class="form-message text-danger">You must include a first name.</small>
            <small *ngIf="form.controls['train_destination'].hasError('minlength') && form.controls['train_destination'].touched" class="form-message text-danger">Your first name must be at least 5 characters long.</small>
            <small *ngIf="form.controls['train_destination'].hasError('maxlength') && form.controls['train_destination'].touched" class="form-message text-danger">Your first name cannot exceed 10 characters.</small>
          </md-input-container>
        </div>
        <div class="col-md-4">
            <md-input-container>
              <input mdInput placeholder="Train Name" name="train_name" [(ngModel)]="train_name" [formControl]="form.controls['train_name']">
              <small *ngIf="form.controls['train_name'].hasError('required') && form.controls['train_name'].touched" class="form-message text-danger">You must include a first name.</small>
              </md-input-container>
          </div>
          <div class="col-md-4">
              <md-input-container>
                <input mdInput placeholder="Departure Time" name="depart_atsource" [(ngModel)]="depart_atsource" [formControl]="form.controls['depart_atsource']">
                <small *ngIf="form.controls['depart_atsource'].hasError('required') && form.controls['depart_atsource'].touched" class="form-message text-danger">You must include a first name.</small>
                </md-input-container>
            </div>
            <div class="col-md-4">
                <md-input-container>
                  <input mdInput placeholder="Arrival Time" name="arrival_atdest" [(ngModel)]="arrival_atdest" [formControl]="form.controls['arrival_atdest']">
                  <small *ngIf="form.controls['arrival_atdest'].hasError('required') && form.controls['arrival_atdest'].touched" class="form-message text-danger">You must include a first name.</small>
                  </md-input-container>
              </div>
      
            </div>
      
    <button md-raised-button color="accent" type="submit" [disabled]="!form.valid">Submit</button>
  </form>
</card>
