<card>
  <form [formGroup]="form" (submit)="onBookingSubmit()">
    <div class="row">
        <div class="col-md-2">
            <md-input-container>
              <input mdInput placeholder="AWB Number" name="awb" [(ngModel)]="awb" [formControl]="form.controls['awb']" >
              
            </md-input-container>
          </div>
          <div class="col-md-2">
              <md-input-container>
                <input mdInput placeholder="Manual Book Number" name="bookno" [(ngModel)]="bookno" [formControl]="form.controls['bookno']" >
                
              </md-input-container>
            </div>
          
          <div class="col-md-2">
            <md-input-container>
              <input mdInput [mdDatepicker]="picker" placeholder="Choose a date" name="booking_date" [formControl]="form.controls['booking_date']" >
              <button mdSuffix [mdDatepickerToggle]="picker"></button>
              </md-input-container>
            <md-datepicker #picker></md-datepicker>
          </div>
          <div class="mb-3">
            <label>Mode</label>
            <md-radio-group  [(ngModel)]="mode" [formControl]="form.controls['mode']">
              <md-radio-button *ngFor="let mod of tmodes" [value]="mod" [checked]="i === 0">
                {{mod}}
              </md-radio-button>
              <small *ngIf="!form.controls['mode'].valid && form.controls['mode'].touched" class="form-message text-danger">You must select a Mode.</small>
            </md-radio-group>
          </div>
          <div class="col-md-3">
            <md-input-container>
              <input mdInput name="inv_no"   [(ngModel)]="inv_no" [formControl]="form.controls['inv_no']" placeholder="Invoice Number" >
            </md-input-container>
          </div>
          
          <div class="col-md-3">
            
              <md-input-container class="mb-0">
                <input mdInput placeholder="company" [(ngModel)]="company_name" [mdAutocomplete]="auto" [formControl]="companyCtrl">
              </md-input-container>
              <md-autocomplete #auto="mdAutocomplete">
                <md-option *ngFor="let company of filteredCompanies | async" [value]="company.company_name" (onSelectionChange)="compannyAddress(company)">
                  {{ company.company_name }}
                </md-option>
              </md-autocomplete>
        </div>
      <div class="col-md-3">
          
            <md-input-container class="mb-0">
              <input mdInput placeholder="Consignor" [(ngModel)]="consignor_name" [mdAutocomplete]="autoconsignor" [formControl]="consignorCtrl">
            </md-input-container>
            <md-autocomplete #autoconsignor="mdAutocomplete">
              <md-option *ngFor="let company of filteredCompanies | async" [value]="company.company_name" (onSelectionChange)="consignorAddress(company)">
                {{ company.company_name }}
              </md-option>
            </md-autocomplete>
           </div>
      <div class="col-md-3">
            <md-input-container class="mb-0">
              <input mdInput placeholder="Consignee" [(ngModel)]="consignee_name" [mdAutocomplete]="autoconsignee" [formControl]="consigneeCtrl">
            </md-input-container>
            <md-autocomplete #autoconsignee="mdAutocomplete">
              <md-option *ngFor="let company of filteredCompanies | async" [value]="company.company_name" (onSelectionChange)="consigneeAddress(company)">
                {{ company.company_name }}
              </md-option>
            </md-autocomplete>
        </div>
        <div class="col-md-3">
          <md-input-container>
            <input mdInput placeholder="Origin" [(ngModel)]="origin" [mdAutocomplete]="autoorigin"  [formControl]="originCtrl">
            </md-input-container>
            <md-autocomplete #autoorigin="mdAutocomplete">
              <md-option *ngFor="let destination of filteredDestinations | async" [value]="destination.dest_id">
                {{ destination.dest_name }}
              </md-option>
            </md-autocomplete>
        </div>
          <div class="col-md-3">
        <md-input-container>
          <textarea mdInput placeholder="Company Address" [(ngModel)]="address" [formControl]="form.controls['address']" name="address"></textarea>
        </md-input-container>
      </div>
      <div class="col-md-3">
        <md-input-container>
          <textarea mdInput placeholder="Consignor Address" [(ngModel)]="consignor_address" [formControl]="form.controls['consignor_address']"></textarea>
        </md-input-container>
      </div>
      <div class="col-md-3">
        <md-input-container>
          <textarea mdInput placeholder="Consignee Address" [(ngModel)]="consignee_address" [formControl]="form.controls['consignee_address']"></textarea>
        </md-input-container>
      </div>
        
          <div class="col-md-3">
                <md-input-container>
                  <input mdInput placeholder="Destination" [(ngModel)]="destination" [mdAutocomplete]="autodestination"  [formControl]="destinationCtrl">
                  </md-input-container>
                  <md-autocomplete #autodestination="mdAutocomplete">
                    <md-option *ngFor="let destination of filteredDestinations | async" [value]="destination.dest_id">
                      {{ destination.dest_name }}
                    </md-option>
                  </md-autocomplete>
      
            </div>
            
            <div class="col-md-3">
              <md-input-container>
                <input mdInput placeholder="Number of Packets" name="normal_pcs" [(ngModel)]="normal_pcs" [formControl]="form.controls['normal_pcs']">
                <small *ngIf="form.controls['normal_pcs'].hasError('required') && form.controls['normal_pcs'].touched" class="form-message text-danger">You must enter a number.</small>
             </md-input-container>
            </div>
            <div class="col-md-1">
              <md-input-container>
                <input mdInput name="length" [(ngModel)]="length" (blur)="calculate_weight_price()" [formControl]="form.controls['length']" placeholder="Length" >
              </md-input-container>
            </div>
            <div class="col-md-1">
              <md-input-container>
                <input mdInput name="width" [(ngModel)]="width" (blur)="calculate_weight_price()" [formControl]="form.controls['width']" placeholder="Width">
              </md-input-container>
            </div>
            <div class="col-md-1">
              <md-input-container>
                <input mdInput name="height" [(ngModel)]="height" (blur)="calculate_weight_price()" [formControl]="form.controls['height']" placeholder="Height" >
              </md-input-container>
            </div>
            <div class="col-md-2">
              <md-input-container>
                <input mdInput name="actual_wt" [(ngModel)]="actual_wt" (blur)="calculate_weight_price()" [formControl]="form.controls['actual_wt']" placeholder="Actual Weight" >
              </md-input-container>
            </div>
            <div class="col-md-2">
              <md-input-container>
                <input mdInput name="volumetric_wt" [(ngModel)]="volumetric_wt" (blur)="calculate_weight_price()" [formControl]="form.controls['volumetric_wt']" placeholder="Volumetric Weight" >
              </md-input-container>
            </div>
            <div class="col-md-2">
              <md-input-container>
                <input mdInput name="labour_charge" [(ngModel)]="labour_charge" (blur)="calculate_weight_price()" [formControl]="form.controls['labour_charge']" placeholder="Labour Charge" >
              </md-input-container>
            </div>
            <div class="col-md-2">
              <md-input-container>
                <input mdInput name="document_charge" [(ngModel)]="document_charge" (blur)="calculate_weight_price()" [formControl]="form.controls['document_charge']" placeholder="Document Charge" >
              </md-input-container>
            </div>
            <div class="col-md-2">
              <md-input-container>
                <input mdInput name="insurance_charge" [(ngModel)]="insurance_charge" (blur)="calculate_weight_price()" [formControl]="form.controls['insurance_charge']" placeholder="Insurance Charge" >
              </md-input-container>
            </div>
            <div class="col-md-2">
              <md-input-container>
                <input mdInput name="other_charge" [(ngModel)]="other_charge" (blur)="calculate_weight_price()" [formControl]="form.controls['other_charge']" placeholder="Other Charge" >
              </md-input-container>
            </div>
            <div class="col-md-2">
              <md-input-container>
                <input name="inv_val" [(ngModel)]="inv_val" [formControl]="form.controls['inv_val']" mdInput placeholder="Expected Amount">
              </md-input-container>
            </div>
            <div class="col-md-2">
              <md-input-container>
                <input name="fixed_val" [(ngModel)]="fixed_val" (blur)="calculate_weight_price()" [formControl]="form.controls['fixed_val']" mdInput placeholder="Fixed Amount">
              </md-input-container>
            </div>
            
            <div class="col-md-2">
              <md-select [(ngModel)]="paymode" [formControl]="form.controls['paymode']" placeholder="Mode">
                <md-option *ngFor="let mode of modes" [value]="mode.value">
                  {{ mode.viewValue }}
                </md-option>
              </md-select>
                              
              </div>
              <div class="col-md-3">
                <md-input-container>
                  <input name="gst" [(ngModel)]="gst" (blur)="calculate_weight_price()" [formControl]="form.controls['gst']" mdInput placeholder="GST">
                </md-input-container>
              </div>
            
            <div class="col-md-3">
              <md-input-container>
                <input name="invtotal" [(ngModel)]="invtotal" [formControl]="form.controls['invtotal']" mdInput placeholder="Invoice Amount">
              </md-input-container>
            </div>
            
            </div>
    <button md-raised-button color="accent" type="submit" [disabled]="!form.valid">Submit</button>
  </form>
</card>

