<card>
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-default">
        <tr>
          <th>#</th>
          <th>Company Name</th>
          <th>Date</th>
          <th>Origin</th>
          <th>Destination</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let company of res; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{company.company_name}}</td>
          <td></td>
          <td></td>
          <td (click)="deleteCompany(company._id)">Delete</td>
        </tr>
        </tbody>
        </table>
        </div>
  </div>
</card>